@use "../abtracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.header {
    background: var(--header-bg-color);

    @include abtracts.green(md) {
        box-shadow: 0px 20px 60px 10px var(--header-color-shadow);
    }
}

.top-bar {
    @extend %flexItemCenter;
    position: relative;

    padding: 30px 0;

    @include abtracts.green(lg) {
        padding: 20px 0;
    }

    @include abtracts.green(md) {
        padding: 16px 0;
        justify-content: space-between;
    }

    &__more {
        display: none;

        @include abtracts.green(lg) {
            display: block;
        }
    }
}

.navbar {
    margin-left: 129px;

    @include abtracts.green(xl) {
        margin-left: 28px;
    }

    @include abtracts.green(lg) {
        display: none;
    }

    &__list {
        @extend %flexItemCenter;
        // gap: 30px;
    }

    &__link {
        @extend %flexItemCenter;
        gap: 6px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
        padding: 0 15px;
        height: 50px;
    }

    &__arrow {
        margin-top: 3px;
    }

    &__item {
        &:hover .dropdown {
            visibility: visible;
            opacity: 1;
        }
    }
}

.top-act {
    @extend %flexItemCenter;

    margin-left: auto;
    gap: 20px;

    @include abtracts.green(md) {
        margin-left: 0;
    }

    &__group {
        @extend %flexItemCenter;

        min-width: 50px;
        height: 50px;

        border-radius: 8px;
        background: var(--top-act-group-bg);
        box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);

        @include abtracts.green(md) {
            display: none;
        }
    }

    &__group--single &__btn {
        padding: 13px;
    }

    &__group--single {
        @include abtracts.green(lg) {
            display: none;
        }
    }

    &__btn {
        @extend %flexItemCenter;
        gap: 10px;
        padding: 13px 20px;
        cursor: pointer;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__avatar {
        width: 50px;
        height: 50px;

        border-radius: 8px;
        background: url(<path-to-image>),
            lightgray -205.145px -22.64px / 819.939% 546.626% no-repeat, #dfd2fa;
        box-shadow: 0px 4px 14px 2px var(--top-act-group-shadow);

        cursor: pointer;
    }

    &__separate {
        width: 1px;
        height: 30px;
        background: var(--top-act-group-separate);
    }
}
